* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', sans-serif;
}
  
form {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.campo {
    margin: 12px;
}

.campo input {
    height: 24px;
    border-radius: 3px;
    padding: 3px;
}

.botao {
    width: 96px;
    height: 36px;
    border-radius: 6px;

    background-color: #242424;
    color: #FFFFFF;
}

.botao:hover {
    cursor: pointer;
    background-color: gray;
}